# 📦 charted-server: Free, open source, and reliable Helm Chart registry made in Kotlin.
# Copyright 2022-2023 Noelware <team@noelware.org>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
end_of_line = lf
ij_kotlin_allow_trailing_comma = false
ktlint_standard = enabled
ktlint_experimental = enabled
ktlint_code_style = official
ktlint_standard_no-unused-imports = enabled
ktlint_standard_no-unit-return = enabled
ktlint_function_signature_body_expression_wrapping = multiline
ktlint_standard_no-consecutive-blank-lines = enabled
ktlint_experimental_fun-keyword-spacing = enabled
ktlint_experimental_unnecessary-parentheses-before-trailing-lambda = enabled
ktlint_experimental_property-naming = disabled
ktlint_standard_colon-spacing = disabled
ktlint_standard_annotation-spacing = disabled
ktlint_standard_filename = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_argument-list-wrapping = disabled

[*.{json,yaml,yml,md}]
indent_size = 2
