# 🐻‍❄️📦 charted-server: Free, open source, and reliable Helm Chart registry made in Rust
# Copyright 2022-2025 Noelware, LLC. <team@noelware.org>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Free, open, and reliable Helm chart registry
Documentation=https://charts.noelware.org/docs/server/latest
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/charted

[Service]
WorkingDirectory=/etc/noelware/charted/server
User=charted
Group=charted
EnvironmentFile=/etc/default/charted-server
ExecStart=/usr/local/bin/charted server --config=/etc/noelware/charted/server/config.toml

# All of Noelware's distributions always uses SD_NOTIFY to let systemd that we are ready,
# other distributions might not, so it's safe if you know it doesn't emit `SD_READY=1`.
Type=notify

# Ensure that systemd restart this service always!
Restart=always

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
