{
    "openapi": "3.0.1",
    "info": {
        "title": "charted-server",
        "description": "🐻‍❄️📦 Free, open source, and reliable Helm Chart registry made in Kotlin",
        "termsOfService": "https://charts.noelware.org/legal/tos",
        "contact": {
            "name": "Noelware, LLC.",
            "url": "https://noelware.org",
            "email": "team@noelware.org"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v0.4.0-nightly"
    },
    "externalDocs": {
        "url": "https://charts.noelware.org/docs/server/0.4.0-nightly"
    },
    "servers": [
        {
            "url": "https://charts.noelware.org/api",
            "description": "Official Instance"
        },
        {
            "url": "http://0.0.0.0:3651",
            "description": "Main Instance"
        }
    ],
    "paths": {
        "/_openapi": {
            "description": "Endpoint for the OpenAPI specification for charted-server",
            "get": {
                "description": "Gets the document in JSON format or YAML format",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/_openapi"
                },
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Format to use",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "Only applicable to `?format=json` -- if the document should be pretty or not",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/_swagger": {
            "description": "Endpoint for Swagger UI",
            "get": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/_swagger"
                },
                "responses": {
                    "200": {
                        "content": {
                            "text/html": {}
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "description": "Generic entrypoint for the Users API",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/users"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseMainUserResponse"
                                },
                                "example": {
                                    "data": {
                                        "message": "Welcome to the Users API!",
                                        "docs_url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/users"
                                    },
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates a user that can interact with this instance",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/users"
                },
                "responses": {
                    "201": {
                        "description": "The created user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUser"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "If the server doesn't allow registrations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "If the configured session manager is not the local one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the current authentication user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/DELETE-/users"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users": {
            "get": {
                "description": "Generic entrypoint for the Users API",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/users"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseMainUserResponse"
                                },
                                "example": {
                                    "data": {
                                        "message": "Welcome to the Users API!",
                                        "docs_url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/users"
                                    },
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates a user that can interact with this instance",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/users"
                },
                "responses": {
                    "201": {
                        "description": "The created user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUser"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "If the server doesn't allow registrations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "If the configured session manager is not the local one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the current authentication user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/DELETE-/users"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "description": "Generic entrypoint for the Repositories API",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/organizations"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MainOrganizationResponse"
                                },
                                "example": {
                                    "message": "Welcome to the Organizations API!",
                                    "docs": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/organizations"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an organization resource",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/organizations"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Created organization resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                },
                                "example": {
                                    "verified_publisher": true,
                                    "display_name": "Noelware, LLC.",
                                    "created_at": "2023-04-08T02:37:53.741502369",
                                    "updated_at": "2023-04-08T02:37:53.741532044",
                                    "private": false,
                                    "owner": {
                                        "verified_publisher": true,
                                        "created_at": "2023-04-08T02:37:53.741537324",
                                        "updated_at": "2023-04-08T02:37:53.741541412",
                                        "username": "noel",
                                        "admin": false,
                                        "name": "Noel",
                                        "id": 1
                                    },
                                    "name": "noelware",
                                    "id": 1234
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/organizations": {
            "get": {
                "description": "Generic entrypoint for the Repositories API",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/organizations"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MainOrganizationResponse"
                                },
                                "example": {
                                    "message": "Welcome to the Organizations API!",
                                    "docs": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/organizations"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an organization resource",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/organizations"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Created organization resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                },
                                "example": {
                                    "verified_publisher": true,
                                    "display_name": "Noelware, LLC.",
                                    "created_at": "2023-04-08T02:37:53.741502369",
                                    "updated_at": "2023-04-08T02:37:53.741532044",
                                    "private": false,
                                    "owner": {
                                        "verified_publisher": true,
                                        "created_at": "2023-04-08T02:37:53.741537324",
                                        "updated_at": "2023-04-08T02:37:53.741541412",
                                        "username": "noel",
                                        "admin": false,
                                        "name": "Noel",
                                        "id": 1
                                    },
                                    "name": "noelware",
                                    "id": 1234
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases/{version}.tar.gz": {
            "get": {
                "description": "Gets a repository release's tarball, if the version exists",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/repositories/{id}/releases/{version}.tar.gz"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allow_prerelease",
                        "in": "query",
                        "description": "If we are allowed to look-up for pre-releases if the version path parameter is \"latest\"",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If the tar resource wasn't found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Tar resource itself",
                        "content": {
                            "application/tar+gzip": {}
                        }
                    },
                    "400": {
                        "description": "If the version path parameter wasn't a valid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Uploads a tarball that is a valid Helm tarball that was generated from the `helm package` command.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/POST-/repositories/{id}/releases/{version}.tar.gz"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to use as the tarball name",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Tarball was stored successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid multipart/form-data object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "NOT_FILE_PART",
                                            "message": "Part was not a file."
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/repositories/{id}/releases/{version}.tar.gz": {
            "get": {
                "description": "Gets a repository release's tarball, if the version exists",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/repositories/{id}/releases/{version}.tar.gz"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allow_prerelease",
                        "in": "query",
                        "description": "If we are allowed to look-up for pre-releases if the version path parameter is \"latest\"",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If the tar resource wasn't found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Tar resource itself",
                        "content": {
                            "application/tar+gzip": {}
                        }
                    },
                    "400": {
                        "description": "If the version path parameter wasn't a valid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Uploads a tarball that is a valid Helm tarball that was generated from the `helm package` command.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/POST-/repositories/{id}/releases/{version}.tar.gz"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to use as the tarball name",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Tarball was stored successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid multipart/form-data object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "NOT_FILE_PART",
                                            "message": "Part was not a file."
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/features": {
            "get": {
                "description": "Retrieve all the server instance's features",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/features"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkFeaturesResponse"
                                },
                                "example": {
                                    "docker_registry": false,
                                    "registrations": true,
                                    "audit_logs": false,
                                    "webhooks": false,
                                    "is_invite_only": false,
                                    "integrations": {},
                                    "search": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/features": {
            "get": {
                "description": "Retrieve all the server instance's features",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/features"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkFeaturesResponse"
                                },
                                "example": {
                                    "docker_registry": false,
                                    "registrations": true,
                                    "audit_logs": false,
                                    "webhooks": false,
                                    "is_invite_only": false,
                                    "integrations": {},
                                    "search": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories/{repoIdOrName}": {
            "get": {
                "description": "Fetch a single repository from a user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/users/{idOrName}/repositories/{repoIdOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Name or Snowflake to query a user",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "repoIdOrName",
                        "in": "path",
                        "description": "Name or Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "if a user or repository couldn't be found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListRepository"
                                },
                                "example": {
                                    "data": [],
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/{idOrName}/repositories/{repoIdOrName}": {
            "get": {
                "description": "Fetch a single repository from a user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/users/{idOrName}/repositories/{repoIdOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Name or Snowflake to query a user",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "repoIdOrName",
                        "in": "path",
                        "description": "Name or Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "if a user or repository couldn't be found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseListRepository"
                                },
                                "example": {
                                    "data": [],
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/readme": {
            "get": {
                "description": "Retrieve a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "README content in Markdown",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "# Some Markdown\n> Hopefully..."
                            }
                        }
                    },
                    "404": {
                        "description": "If a repository wasn't found or if there is no README",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates or updates a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/POST-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "README was updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Creates or updates a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/DELETE-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "README was updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/repositories/{id}/readme": {
            "get": {
                "description": "Retrieve a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "README content in Markdown",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "# Some Markdown\n> Hopefully..."
                            }
                        }
                    },
                    "404": {
                        "description": "If a repository wasn't found or if there is no README",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates or updates a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/POST-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "README was updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Creates or updates a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/DELETE-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "README was updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases/{version}/values.yaml": {
            "get": {
                "description": "Returns the given Chart.yaml file of this release",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/repositories/{id}/releases/{version}/Chart.yaml"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allow_prerelease",
                        "in": "query",
                        "description": "If we are allowed to look-up for pre-releases if the version path parameter is \"latest\"",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If the Chart.yaml file wasn't found for this release",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Chart.yaml file",
                        "content": {
                            "text/yaml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If the version path parameter wasn't a valid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/repositories/{id}/releases/{version}/values.yaml": {
            "get": {
                "description": "Returns the given Chart.yaml file of this release",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/repositories/{id}/releases/{version}/Chart.yaml"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allow_prerelease",
                        "in": "query",
                        "description": "If we are allowed to look-up for pre-releases if the version path parameter is \"latest\"",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If the Chart.yaml file wasn't found for this release",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Chart.yaml file",
                        "content": {
                            "text/yaml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If the version path parameter wasn't a valid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories/{id}": {
            "patch": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PATCH-/users/{idOrName}/repositories/{id}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/{idOrName}/repositories/{id}": {
            "patch": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PATCH-/users/{idOrName}/repositories/{id}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases": {
            "put": {
                "description": "Creates a repository release",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/repositories/{id}/releases"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Release resource was created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkRepositoryRelease"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/repositories/{id}/releases": {
            "put": {
                "description": "Creates a repository release",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/repositories/{id}/releases"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Release resource was created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkRepositoryRelease"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/logout": {
            "delete": {
                "description": "Logs out of the current session",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/DELETE-/users/@me/logout"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "The session was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/logout": {
            "delete": {
                "description": "Logs out of the current session",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/DELETE-/users/@me/logout"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "The session was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apikeys": {
            "get": {
                "description": "Returns all of the API key resources created by the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/apikeys"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkListApiKeys"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an API key under the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/apikeys"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseApiKeys"
                                },
                                "example": {
                                    "data": {
                                        "description": "API key to automate some stuff!",
                                        "expires_in": "2023-05-02T02:37:54.111497315",
                                        "bits": 536870913,
                                        "owner": {
                                            "verified_publisher": true,
                                            "created_at": "2023-04-08T02:37:54.111883960",
                                            "updated_at": "2023-04-08T02:37:54.111891595",
                                            "username": "noel",
                                            "admin": true,
                                            "name": "Noel",
                                            "id": 1
                                        },
                                        "name": "some-api-key",
                                        "id": 1234
                                    },
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/apikeys": {
            "get": {
                "description": "Returns all of the API key resources created by the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/GET-/apikeys"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkListApiKeys"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an API key under the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.4.0-nightly/api/PUT-/apikeys"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "content": {
                            "application/json": {
[...]
