{
    "openapi": "3.0.3",
    "info": {
        "title": "charted-server",
        "description": "🐻‍❄️📦 Free, open source, and reliable Helm Chart registry made in Rust",
        "termsOfService": "https://charts.noelware.org/legal/tos",
        "contact": { "name": "Noelware, LLC.", "url": "https://noelware.org", "email": "team@noelware.org" },
        "license": { "name": "Apache 2.0", "url": "https://www.apache.org/licenses/LICENSE-2.0" },
        "version": "0.1.0-beta"
    },
    "servers": [
        {
            "url": "https://charts.noelware.org",
            "description": "Official home for charted-server, Noelware's public instance"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": ["Main"],
                "description": "Main entrypoint to charted-server. This is just a generic \"hello world\" response.",
                "operationId": "main",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/MainResponse" } }
                        }
                    }
                }
            }
        },
        "/apikeys": {
            "get": {
                "tags": ["API Keys"],
                "description": "Entrypoint for the API Keys API",
                "operationId": "apikeys",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            }
        },
        "/apikeys/all": {
            "get": {
                "tags": ["API Keys"],
                "description": "Paginate through all API keys available",
                "operationId": "list_all_apikeys",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/responses/ApiKeyPaginatedResponse" }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to process request query parameters",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "401": {
                        "description": "Unauthorized to process the given session details or if the JWT token had expired",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "Received an invalid password from the `Basic` authorization scheme",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "Unable to process the session due to some unexpected outcome",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/apikeys/{idOrName}": {},
        "/features": {
            "get": {
                "tags": ["Main"],
                "description": "Retrieve this server's features. This is only for enabling or disabling features for API consumers.",
                "operationId": "features",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/FeaturesResponse" } }
                        }
                    }
                }
            }
        },
        "/heartbeat": {
            "get": {
                "tags": ["Main"],
                "description": "Generic healthcheck endpoint",
                "operationId": "heartbeat",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "text/plain": { "schema": { "type": "string" } } }
                    }
                }
            }
        },
        "/index/{idOrName}": {
            "get": {
                "tags": ["Main", "Users", "Organizations"],
                "description": "Returns a index of a user or organization's Helm charts",
                "operationId": "get_chart_index",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or `Snowflake` identifier",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chart index for a specific user or organization",
                        "content": {
                            "text/yaml": { "schema": { "$ref": "#/components/responses/ChartIndexResponse" } }
                        }
                    },
                    "404": {
                        "description": "User or Organization was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/info": {
            "get": {
                "tags": ["Main"],
                "description": "REST handler for getting more information about this instance that can be visible for API consumers.",
                "operationId": "info",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/InfoResponse" } }
                        }
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "tags": ["Organizations"],
                "description": "Entrypoint for the Organizations API",
                "operationId": "repositories",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            }
        },
        "/organizations/{idOrName}": {
            "get": {
                "tags": ["Organizations"],
                "description": "Finds an organization by its ID or name.",
                "operationId": "get_org_by_id_or_name",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/OrganizationResponse" } }
                        }
                    },
                    "403": {
                        "description": "You are not allowed to see this resource",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Entity was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/organizations/{idOrName}/icon": {
            "get": {
                "tags": ["Organizations", "Icons"],
                "description": "Returns the organization's current icon. Use the [`GET /organizations/{idOrName}/icons/{hash}.png`] REST route\n to grab an organization icon by a specific hash.\n\n [`GET /organizations/{idOrName}/icons/{hash}.png`]: https://charts.noelware.org/docs/server/latest/api/reference/organizations#GET-/organizations/{idOrName}/icon/{hash}.png",
                "operationId": "get_current_org_icon",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/organizations/{idOrName}/icon/{hash}": {
            "get": {
                "tags": ["Organizations", "Icons"],
                "description": "Return a organization icon by the icon hash.",
                "operationId": "get_org_icon_by_hash",
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "the hash to lookup for",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/organizations/{idOrName}/repositories": {
            "get": {
                "tags": ["Organizations", "Repositories"],
                "description": "Retrieve all of a organization's repositories. This filters out private ones.",
                "operationId": "list_org_repositories",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor to passthrough to proceed into the next or previous page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                            "minLength": 15
                        }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a [`Name`] or [`Snowflake`] identifier.",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order to sort the entries by.",
                        "required": false,
                        "schema": { "$ref": "#/components/schemas/OrderBy" }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "How many elements should be present in a page.",
                        "required": false,
                        "schema": { "type": "integer", "format": "int32" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all the organization's repositories",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/responses/RepositoryPaginatedResponse" }
                            }
                        }
                    }
                }
            }
        },
        "/repositories": {
            "get": {
                "tags": ["Repositories"],
                "description": "Entrypoint for the Repositories API",
                "operationId": "repositories",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            }
        },
        "/repositories/{id}": {
            "get": {
                "tags": ["Repositories"],
                "description": "Finds a repository by its ID.",
                "operationId": "get_repo_by_id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                            "minLength": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/RepositoryResponse" } }
                        }
                    },
                    "403": {
                        "description": "You are not allowed to see this resource",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Entity was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/repositories/{owner}/{name}": {
            "get": {
                "tags": ["Repositories"],
                "description": "Find a repository by the owner's ID/name and the repository's ID/name\n\n ## Examples\n ```http\n # Acceptable\n GET /repositories/charted/server\n\n # Not acceptable\n GET /repositories/server  # `server` will be treated as a owner's ID or name.\n GET /repositories/charted # use /[users|organizations]/repositories to list all repositories\n ```",
                "operationId": "get_repo_by_owner_and_name",
                "parameters": [
                    {
                        "name": "owner",
                        "in": "path",
                        "description": "owner's ID or name",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    },
                    {
                        "name": "repo",
                        "in": "path",
                        "description": "repository's ID or name",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/RepositoryResponse" } }
                        }
                    },
                    "400": {
                        "description": "Unable to decode given path parameter",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "You are not allowed to patch this resource",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Entity was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "Received an invalid `Name`",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": ["Users"],
                "description": "Generic entrypoint route for the Users API.",
                "operationId": "users",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Users"],
                "description": "Creates a new user if the server allows registrations.",
                "operationId": "create_user",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/UserResponse" } }
                        }
                    },
                    "403": {
                        "description": "Whether if this server doesn't allow registrations",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "If the `username` or `email` was taken.",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Users"],
                "description": "Delete your user and the data attached to you from the service",
                "operationId": "delete_self",
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EmptyApiResponse" } }
                        }
                    },
                    "401": {
                        "description": "If the session couldn't be validated",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "(Bearer token only) - if the JWT was invalid or expired",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Users"],
                "description": "Patch the current authenticated user's metadata about themselves.",
                "operationId": "patch",
                "responses": {
                    "204": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EmptyApiResponse" } }
                        }
                    },
                    "400": {
                        "description": "If the request body was invalid (i.e, validation errors)",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "401": {
                        "description": "If the session couldn't be validated",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "(Bearer token only) - if the JWT was invalid.",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "If the request body contained invalid data, or if the session header contained invalid data",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/@me": {
            "get": {
                "tags": ["Users"],
                "description": "Returns a [User] from an authenticated request.",
                "operationId": "get_self",
                "responses": {
                    "200": {
                        "description": "Returns the authenticated user",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/UserResponse" } }
                        }
                    },
                    "400": {
                        "description": "If the request body was invalid (i.e, validation errors)",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "401": {
                        "description": "If the session couldn't be validated",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "(Bearer token only) - if the JWT was invalid.",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "If the request body contained invalid data, or if the session header contained invalid data",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/@me/avatar": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Returns the current authenticated user's current avatar. Use the [`GET /users/@me/avatar/{hash}.png`] REST handler\n to grab by a specific hash.\n\n [`GET /users/@me/avatar/{hash}.png`]: https://charts.noelware.org/docs/server/latest/api/reference/users#GET-/users/@me/avatar/{hash}.png",
                "operationId": "get_self_user_avatar",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Users", "Avatars"],
                "description": "Uploads a user avatar.",
                "operationId": "upload_avatar",
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EmptyApiResponse" } }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "Not Acceptable",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/@me/avatar/{hash}": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Returns the current authenticated user's current avatar by the specific hash",
                "operationId": "get_self_user_avatar_by_hash",
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "avatar hash to look up for",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/@me/repositories": {
            "put": {
                "tags": ["Repositories"],
                "description": "Create a repository with the current authenticated user as the owner of the repository",
                "operationId": "create_user_repository",
                "responses": {
                    "201": {
                        "description": "Repository created",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/RepositoryResponse" } }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "409": {
                        "description": "Conflict: repository with that name already exists on the user's account",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}": {
            "get": {
                "tags": ["Users"],
                "description": "Retrieve a user by their ID or username.",
                "operationId": "get_user",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a [`Name`] or [`Snowflake`] identifier.",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/UserResponse" } }
                        }
                    },
                    "400": {
                        "description": "Invalid `idOrName` specified",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Unknown User",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/avatar": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Returns the user's current avatar. Use the [`GET /users/{idOrName}/avatar/{hash}.png`] REST route\n to grab an user avatar by a specific hash.\n\n [`GET /users/{idOrName}/avatar/{hash}.png`]: https://charts.noelware.org/docs/server/latest/api/reference/users#GET-/users/{idOrName}/avatar/{hash}.png",
                "operationId": "get_current_user_avatar",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/avatar/{hash}": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Return a user avatar by the avatar hash.",
                "operationId": "get_user_avatar_by_hash",
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "the hash to lookup for",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories": {
            "get": {
                "tags": ["Users", "Repositories"],
                "description": "Retrieve all of a user's repositories. This filters out private ones.",
                "operationId": "list_user_repositories",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor to passthrough to proceed into the next or previous page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                            "minLength": 15
                        }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a [`Name`] or [`Snowflake`] identifier.",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order to sort the entries by.",
                        "required": false,
                        "schema": { "$ref": "#/components/schemas/OrderBy" }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "How many elements should be present in a page.",
                        "required": false,
                        "schema": { "type": "integer", "format": "int32" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all the user's repositories",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/responses/RepositoryPaginatedResponse" }
                            }
                        }
                    }
                }
            }
        },
        "/v1": {
            "get": {
                "tags": ["Main"],
                "description": "Main entrypoint to charted-server. This is just a generic \"hello world\" response.",
                "operationId": "main",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/MainResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/apikeys": {
            "get": {
                "tags": ["API Keys"],
                "description": "Entrypoint for the API Keys API",
                "operationId": "apikeys",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/apikeys/all": {
            "get": {
                "tags": ["API Keys"],
                "description": "Paginate through all API keys available",
                "operationId": "list_all_apikeys",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/responses/ApiKeyPaginatedResponse" }
                            }
                        }
                    },
                    "400": {
                        "description": "Unable to process request query parameters",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "401": {
                        "description": "Unauthorized to process the given session details or if the JWT token had expired",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "Received an invalid password from the `Basic` authorization scheme",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "Unable to process the session due to some unexpected outcome",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/apikeys/{idOrName}": {},
        "/v1/features": {
            "get": {
                "tags": ["Main"],
                "description": "Retrieve this server's features. This is only for enabling or disabling features for API consumers.",
                "operationId": "features",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/FeaturesResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/heartbeat": {
            "get": {
                "tags": ["Main"],
                "description": "Generic healthcheck endpoint",
                "operationId": "heartbeat",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "text/plain": { "schema": { "type": "string" } } }
                    }
                }
            }
        },
        "/v1/index/{idOrName}": {
            "get": {
                "tags": ["Main", "Users", "Organizations"],
                "description": "Returns a index of a user or organization's Helm charts",
                "operationId": "get_chart_index",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or `Snowflake` identifier",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chart index for a specific user or organization",
                        "content": {
                            "text/yaml": { "schema": { "$ref": "#/components/responses/ChartIndexResponse" } }
                        }
                    },
                    "404": {
                        "description": "User or Organization was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/info": {
            "get": {
                "tags": ["Main"],
                "description": "REST handler for getting more information about this instance that can be visible for API consumers.",
                "operationId": "info",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/InfoResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/organizations": {
            "get": {
                "tags": ["Organizations"],
                "description": "Entrypoint for the Organizations API",
                "operationId": "repositories",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{idOrName}": {
            "get": {
                "tags": ["Organizations"],
                "description": "Finds an organization by its ID or name.",
                "operationId": "get_org_by_id_or_name",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/OrganizationResponse" } }
                        }
                    },
                    "403": {
                        "description": "You are not allowed to see this resource",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Entity was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{idOrName}/icon": {
            "get": {
                "tags": ["Organizations", "Icons"],
                "description": "Returns the organization's current icon. Use the [`GET /organizations/{idOrName}/icons/{hash}.png`] REST route\n to grab an organization icon by a specific hash.\n\n [`GET /organizations/{idOrName}/icons/{hash}.png`]: https://charts.noelware.org/docs/server/latest/api/reference/organizations#GET-/organizations/{idOrName}/icon/{hash}.png",
                "operationId": "get_current_org_icon",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{idOrName}/icon/{hash}": {
            "get": {
                "tags": ["Organizations", "Icons"],
                "description": "Return a organization icon by the icon hash.",
                "operationId": "get_org_icon_by_hash",
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "the hash to lookup for",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/organizations/{idOrName}/repositories": {
            "get": {
                "tags": ["Organizations", "Repositories"],
                "description": "Retrieve all of a organization's repositories. This filters out private ones.",
                "operationId": "list_org_repositories",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor to passthrough to proceed into the next or previous page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                            "minLength": 15
                        }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a [`Name`] or [`Snowflake`] identifier.",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order to sort the entries by.",
                        "required": false,
                        "schema": { "$ref": "#/components/schemas/OrderBy" }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "How many elements should be present in a page.",
                        "required": false,
                        "schema": { "type": "integer", "format": "int32" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all the organization's repositories",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/responses/RepositoryPaginatedResponse" }
                            }
                        }
                    }
                }
            }
        },
        "/v1/repositories": {
            "get": {
                "tags": ["Repositories"],
                "description": "Entrypoint for the Repositories API",
                "operationId": "repositories",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/repositories/{id}": {
            "get": {
                "tags": ["Repositories"],
                "description": "Finds a repository by its ID.",
                "operationId": "get_repo_by_id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                            "minLength": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/RepositoryResponse" } }
                        }
                    },
                    "403": {
                        "description": "You are not allowed to see this resource",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Entity was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/repositories/{owner}/{name}": {
            "get": {
                "tags": ["Repositories"],
                "description": "Find a repository by the owner's ID/name and the repository's ID/name\n\n ## Examples\n ```http\n # Acceptable\n GET /repositories/charted/server\n\n # Not acceptable\n GET /repositories/server  # `server` will be treated as a owner's ID or name.\n GET /repositories/charted # use /[users|organizations]/repositories to list all repositories\n ```",
                "operationId": "get_repo_by_owner_and_name",
                "parameters": [
                    {
                        "name": "owner",
                        "in": "path",
                        "description": "owner's ID or name",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    },
                    {
                        "name": "repo",
                        "in": "path",
                        "description": "repository's ID or name",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/RepositoryResponse" } }
                        }
                    },
                    "400": {
                        "description": "Unable to decode given path parameter",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "You are not allowed to patch this resource",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Entity was not found",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "Received an invalid `Name`",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users": {
            "get": {
                "tags": ["Users"],
                "description": "Generic entrypoint route for the Users API.",
                "operationId": "users",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EntrypointResponse" } }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Users"],
                "description": "Creates a new user if the server allows registrations.",
                "operationId": "create_user",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/UserResponse" } }
                        }
                    },
                    "403": {
                        "description": "Whether if this server doesn't allow registrations",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "If the `username` or `email` was taken.",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Users"],
                "description": "Delete your user and the data attached to you from the service",
                "operationId": "delete_self",
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EmptyApiResponse" } }
                        }
                    },
                    "401": {
                        "description": "If the session couldn't be validated",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "(Bearer token only) - if the JWT was invalid or expired",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Users"],
                "description": "Patch the current authenticated user's metadata about themselves.",
                "operationId": "patch",
                "responses": {
                    "204": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EmptyApiResponse" } }
                        }
                    },
                    "400": {
                        "description": "If the request body was invalid (i.e, validation errors)",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "401": {
                        "description": "If the session couldn't be validated",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "(Bearer token only) - if the JWT was invalid.",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "If the request body contained invalid data, or if the session header contained invalid data",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/@me": {
            "get": {
                "tags": ["Users"],
                "description": "Returns a [User] from an authenticated request.",
                "operationId": "get_self",
                "responses": {
                    "200": {
                        "description": "Returns the authenticated user",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/UserResponse" } }
                        }
                    },
                    "400": {
                        "description": "If the request body was invalid (i.e, validation errors)",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "401": {
                        "description": "If the session couldn't be validated",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "403": {
                        "description": "(Bearer token only) - if the JWT was invalid.",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "If the request body contained invalid data, or if the session header contained invalid data",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/avatar": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Returns the current authenticated user's current avatar. Use the [`GET /users/@me/avatar/{hash}.png`] REST handler\n to grab by a specific hash.\n\n [`GET /users/@me/avatar/{hash}.png`]: https://charts.noelware.org/docs/server/latest/api/reference/users#GET-/users/@me/avatar/{hash}.png",
                "operationId": "get_self_user_avatar",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Users", "Avatars"],
                "description": "Uploads a user avatar.",
                "operationId": "upload_avatar",
                "responses": {
                    "201": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/EmptyApiResponse" } }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "406": {
                        "description": "Not Acceptable",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/avatar/{hash}": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Returns the current authenticated user's current avatar by the specific hash",
                "operationId": "get_self_user_avatar_by_hash",
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "avatar hash to look up for",
                        "required": true,
                        "schema": { "type": "string" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/repositories": {
            "put": {
                "tags": ["Repositories"],
                "description": "Create a repository with the current authenticated user as the owner of the repository",
                "operationId": "create_user_repository",
                "responses": {
                    "201": {
                        "description": "Repository created",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/RepositoryResponse" } }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "409": {
                        "description": "Conflict: repository with that name already exists on the user's account",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/{idOrName}": {
            "get": {
                "tags": ["Users"],
                "description": "Retrieve a user by their ID or username.",
                "operationId": "get_user",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a [`Name`] or [`Snowflake`] identifier.",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/UserResponse" } }
                        }
                    },
                    "400": {
                        "description": "Invalid `idOrName` specified",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    },
                    "404": {
                        "description": "Unknown User",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/{idOrName}/avatar": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Returns the user's current avatar. Use the [`GET /users/{idOrName}/avatar/{hash}.png`] REST route\n to grab an user avatar by a specific hash.\n\n [`GET /users/{idOrName}/avatar/{hash}.png`]: https://charts.noelware.org/docs/server/latest/api/reference/users#GET-/users/{idOrName}/avatar/{hash}.png",
                "operationId": "get_current_user_avatar",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/{idOrName}/avatar/{hash}": {
            "get": {
                "tags": ["Users", "Avatars"],
                "description": "Return a user avatar by the avatar hash.",
                "operationId": "get_user_avatar_by_hash",
                "parameters": [
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "the hash to lookup for",
                        "required": true,
                        "schema": { "type": "string" }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a `Name` or Snowflake ID",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": { "schema": { "$ref": "#/components/responses/ApiErrorResponse" } }
                        }
                    }
                }
            }
        },
        "/v1/users/{idOrName}/repositories": {
            "get": {
                "tags": ["Users", "Repositories"],
                "description": "Retrieve all of a user's repositories. This filters out private ones.",
                "operationId": "list_user_repositories",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor to passthrough to proceed into the next or previous page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                            "minLength": 15
                        }
                    },
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Path parameter that can take a [`Name`] or [`Snowflake`] identifier.",
                        "required": true,
                        "schema": { "$ref": "#/components/schemas/NameOrSnowflake" }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order to sort the entries by.",
                        "required": false,
                        "schema": { "$ref": "#/components/schemas/OrderBy" }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "How many elements should be present in a page.",
                        "required": false,
                        "schema": { "type": "integer", "format": "int32" }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of all the user's repositories",
                        "content": {
                            "application/json": {
                                "schema": { "$ref": "#/components/responses/RepositoryPaginatedResponse" }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiKey": {
                "type": "object",
                "description": "A resource for personal-managed API tokens that is created by a User. This is useful\nfor command line tools or scripts that need to interact with charted-server, but\nthe main use-case is for the [Helm plugin](https://charts.noelware.org/docs/helm-plugin/current).",
                "required": ["created_at", "updated_at", "scopes", "name", "id"],
                "properties": {
                    "created_at": { "$ref": "#/components/schemas/DateTime" },
                    "description": {
                        "type": "string",
                        "description": "Short description about this API key.",
                        "nullable": true
                    },
                    "expires_in": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true },
                    "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unique identifier for a resource. Based off the [Twitter Snowflake](https://blog.twitter.com/engineering/en_us/a/2010/announcing-snowflake) spec.",
                        "minLength": 15
                    },
                    "name": {
                        "type": "string",
                        "description": "A valid UTF-8 string that is used to identify a resource from the REST API in a humane fashion. This is meant to help identify a resource without trying to calculate the resource's Snowflake on the first try.",
                        "maxLength": 32,
                        "minLength": 1,
                        "pattern": "([A-z]|-|_|\\d{0,9}){1,32}"
                    },
                    "scopes": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The scopes that are attached to this API key resource."
                    },
                    "token": {
                        "type": "string",
                        "description": "The token itself. This is never revealed when querying, but only revealed\nwhen you create the token.",
                        "nullable": true
                    },
                    "updated_at": { "$ref": "#/components/schemas/DateTime" }
                }
            },
            "ApiKeyScope": {
                "oneOf": [
                    {
                        "type": "number",
                        "format": "int64",
                        "description": "Represents a scope that is represented as an unsigned 64-bit integer, each scope can be in the range of 1..4503599627370496",
                        "maximum": 4503599627370496,
                        "minimum": 1
                    },
                    {
                        "type": "string",
                        "description": "represents a named version of a scope which is represented as 'entity:operation', i.e, `apikey:list` will allow you to list all API keys",
                        "enum": [
                            "user:access",
                            "user:update",
                            "user:delete",
                            "user:connections",
                            "user:notifications",
                            "user:avatar:update",
                            "user:sessions:list",
                            "repo:access",
                            "repo:create",
                            "repo:delete",
                            "repo:update",
                            "repo:write",
                            "repo:icon:update",
                            "repo:releases:create",
                            "repo:releases:update",
                            "repo:releases:delete",
                            "repo:members:list",
                            "repo:members:update",
                            "repo:members:kick",
                            "repo:members:invites:access",
                            "repo:members:invites:update",
                            "repo:members:invites:delete",
                            "repo:webhooks:list",
                            "repo:webhooks:create",
                            "repo:webhooks:update",
                            "repo:webhooks:delete",
                            "repo:webhooks:events:access",
                            "repo:webhooks:events:delete",
                            "apikeys:view",
                            "apikeys:list",
                            "apikeys:create",
                            "apikeys:delete",
                            "apikeys:update",
                            "org:access",
                            "org:create",
                            "org:update",
                            "org:delete",
                            "org:members:invites",
                            "org:members:list",
                            "org:members:kick",
                            "org:members:update",
                            "org:webhooks:list",
                            "org:webhooks:create",
                            "org:webhooks:update",
                            "org:webhooks:delete",
                            "org:webhooks:events:list",
                            "org:webhooks:events:delete",
                            "admin:stats",
                            "admin:users:create",
                            "admin:users:delete",
                            "admin:users:update",
                            "admin:orgs:delete",
                            "admin:orgs:update"
                        ]
                    }
                ],
                "description": "Represents what a single API key scope can represent, this will always represent unsigned 64-bit integers in the API server itself"
            },
            "Chart": {
                "type": "object",
                "description": "Represents the skeleton of a `Chart.yaml` file.",
                "required": ["apiVersion", "name", "version"],
                "properties": {
                    "annotations": {
                        "type": "object",
                        "description": "Mapping of custom metadata that can be used for custom attributes.\n\n### standardized for charted-server\n* `charts.noelware.org/maintainers` ~ a comma-delimited list of all the maintainers\nthat are mapped by their `Name` or snowflake ID",
                        "additionalProperties": { "type": "string" }
                    },
                    "apiVersion": { "$ref": "#/components/schemas/ChartSpecVersion" },
                    "appVersion": {
                        "type": "string",
                        "description": "Note that the appVersion field is not related to the version field. It is a way of specifying the version of the\napplication. For example, the drupal chart may have an appVersion: \"8.2.1\", indicating that the version of Drupal\nincluded in the chart (by default) is 8.2.1. This field is informational, and has no impact on chart version calculations.\n\nWrapping the version in quotes is highly recommended. It forces the YAML parser to treat the version number as a string.\nLeaving it unquoted can lead to parsing issues in some cases. For example, YAML interprets 1.0 as a floating point value,\nand a git commit SHA like 1234e10 as scientific notation.",
                        "nullable": true
                    },
                    "dependencies": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/ChartDependency" },
                        "description": "In Helm, one chart may depend on any number of other charts. These dependencies can be dynamically linked using the dependencies'\nfield in Chart.yaml or brought in to the charts/ directory and managed manually. The charts required by the current chart are defined as a list\nin the dependencies field."
                    },
                    "deprecated": {
                        "type": "boolean",
                        "description": "When managing charts in a Chart Repository, it is sometimes necessary to deprecate a chart. The optional deprecated field\nin Chart.yaml can be used to mark a chart as deprecated. If the latest version of a chart in the repository is marked\nas deprecated, then the chart as a whole is considered to be deprecated.\n\nThe chart name can be later reused by publishing a newer version that is not marked as deprecated."
                    },
                    "description": {
                        "type": "string",
                        "description": "A single-sentence description of this project",
                        "nullable": true
                    },
                    "home": {
                        "type": "string",
                        "description": "The URL of this project's homepage.",
                        "nullable": true
                    },
                    "icon": {
                        "type": "string",
                        "description": "A URL or an SVG or PNG image to be used as an icon",
                        "nullable": true
                    },
                    "keywords": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "A list of keywords about this project. These keywords can be searched\nvia the /search endpoint if it's enabled."
                    },
                    "kubeVersion": { "allOf": [{ "$ref": "#/components/schemas/VersionReq" }], "nullable": true },
                    "maintainers": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/ChartMaintainer" },
                        "description": "A list of name and URL/email address combinations for the maintainer(s)"
                    },
                    "name": { "type": "string", "description": "The name of the chart." },
                    "sources": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "A list of URLs to the source code for this project"
                    },
                    "type": { "$ref": "#/components/schemas/ChartType" },
                    "version": { "$ref": "#/components/schemas/Version" }
                }
            },
            "ChartDependency": {
                "type": "object",
                "description": "In Helm, one chart may depend on any number of other charts. These dependencies can be dynamically linked using the dependencies'\nfield in Chart.yaml or brought in to the charts/ directory and managed manually. The charts required by the current chart are defined\nas a list in the dependencies field.",
                "required": ["name"],
                "properties": {
                    "alias": {
                        "type": "string",
                        "description": "Alias that is used to identify a chart. Useful for pointing to the\nsame chart multiple times",
                        "nullable": true
                    },
                    "condition": {
                        "type": "string",
                        "description": "YAML path that resolves to a boolean to enable or disable charts\ndynamically.",
                        "nullable": true
                    },
                    "import-values": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/StringOrImportValue" },
                        "description": "[`ImportValues`][ImportValue] holds the mapping of source values to parent key to be imported.\nEach item can be a string or pair of child/parent sublist items."
                    },
                    "name": { "type": "string", "description": "The name of the chart" },
                    "repository": {
                        "type": "string",
                        "description": "Repository URL or alias that should be used to grab\nthe dependency from.",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "List of tags that can be used to group charts to enable/disable together."
                    },
                    "version": { "allOf": [{ "$ref": "#/components/schemas/Version" }], "nullable": true }
                }
            },
            "ChartIndex": {
                "type": "object",
                "description": "Schema skeleton for a `index.yml` file that represents a Chart index.",
                "required": ["api_version", "generated_at"],
                "properties": {
                    "api_version": {
                        "type": "string",
                        "description": "API version for the `index.yaml` file. Will be a constant as `v1`."
                    },
                    "entries": {
                        "type": "object",
                        "description": "List of all possible entries for this user/organization.",
                        "additionalProperties": {
                            "type": "array",
                            "items": { "$ref": "#/components/schemas/ChartIndexSpec" },
                            "description": "Index contents of a repository",
                            "uniqueItems": true
                        }
                    },
                    "generated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "DateTime of when this `index.yaml` was last generated. In charted-server, this is relative on when a new chart release was last published."
                    }
                }
            },
            "ChartIndexSpec": {
                "allOf": [
                    { "$ref": "#/components/schemas/Chart" },
                    {
                        "type": "object",
                        "properties": {
                            "created": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true },
                            "digest": { "type": "string", "nullable": true },
                            "removed": { "type": "boolean" },
                            "urls": { "type": "array", "items": { "type": "string" } }
                        }
                    }
                ],
                "description": "Represents the specification for a Chart.yaml-schema from a `index.yaml` reference."
            },
            "ChartMaintainer": {
                "type": "object",
                "description": "Name and URL/email address combination as a maintainer. [ChartMaintainer::name] can be referenced\nas a `NameOrSnowflake` union.",
                "required": ["name"],
                "properties": {
                    "email": { "type": "string", "description": "The maintainer's email", "nullable": true },
                    "name": { "type": "string", "description": "The maintainer's name" },
                    "url": { "type": "string", "description": "URL for the maintainer", "nullable": true }
                }
            },
            "ChartSpecVersion": {
                "type": "string",
                "description": "The apiVersion field should be v2 for Helm charts that require at least Helm 3. Charts supporting previous Helm versions have an apiVersion set to v1 and are still installable by Helm 3.",
                "default": "v2",
                "enum": ["v1", "v2"]
            },
            "ChartType": {
                "type": "string",
                "description": "Represents what type this chart is. Do keep in mind that `operator` is not supported by Helm, but is specific to the API server. For serializing to valid Helm objects, `application` will be the replacement.",
                "default": "application",
                "enum": ["application", "library", "operator"]
            },
            "CreateApiKeyPayload": {
                "type": "object",
                "description": "Request body payload for creating a API key.",
                "required": ["name"],
                "properties": {
                    "description": { "type": "string", "description": "Description of the API key", "nullable": true },
                    "expires_in": { "allOf": [{ "$ref": "#/components/schemas/Duration" }], "nullable": true },
                    "name": { "$ref": "#/components/schemas/Name" },
                    "scopes": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/ApiKeyScope" },
                        "description": "the list of scopes to apply to this API key"
                    }
                }
            },
            "CreateOrganizationPayload": {
                "type": "object",
                "description": "Request body payload for creating a new organization",
                "required": ["name"],
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Short description about this organization. If `description` was set to `null`, then\nthis will not be updated, if `description` was a empty string, the `description`\nwill be set to a empty string and will present as \"*no description for this organization*\"\nin Hoshi.",
                        "nullable": true
                    },
                    "display_name": {
                        "type": "string",
                        "description": "Display name for this organization.",
                        "nullable": true
                    },
                    "name": { "$ref": "#/components/schemas/Name" },
                    "private": { "type": "boolean", "description": "Whether if the organization is private or not." }
                }
[...]
