{
    "openapi": "3.1.0",
    "info": {
        "title": "charted-server",
        "description": "🐻‍❄️📦 Free, open source, and reliable Helm Chart registry made in Rust",
        "termsOfService": "https://charts.noelware.org/legal/tos",
        "contact": {
            "name": "Noelware, LLC.",
            "url": "https://noelware.org",
            "email": "team@noelware.org"
        },
        "license": {
            "name": "Apache 2.0 License",
            "url": "https://apache.org/licenses/LICENSE-2.0",
            "identifier": "Apache-2.0"
        },
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://charts.noelware.org/api/v{version}",
            "description": "Production Server",
            "variables": {
                "version": {
                    "default": "1",
                    "description": "Revision of the HTTP specification",
                    "enum": ["1"]
                }
            }
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": ["Main"],
                "summary": "Main entrypoint of the API server.",
                "operationId": "main",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/MainResponse"
                    }
                }
            }
        },
        "/_healthz": {
            "get": {
                "tags": ["Main"],
                "summary": "Healthcheck endpoint to determine if services are OK.",
                "operationId": "healthz",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "text/plain": {}
                        }
                    }
                }
            }
        },
        "/features": {
            "get": {
                "tags": ["Main"],
                "summary": "Returns a list of enabled server features.",
                "operationId": "features",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/FeaturesResponse"
                    }
                }
            }
        },
        "/indexes/{idOrName}": {
            "get": {
                "tags": ["Main"],
                "summary": "Retrieve a chart index from a **User** or **Organization**.",
                "operationId": "getChartIndex",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/yaml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChartIndex"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User or Organization wasn't found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": ["Users"],
                "summary": "Entrypoint to the Users API.",
                "operationId": "users",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/EntrypointResponse"
                    }
                }
            },
            "post": {
                "tags": ["Users"],
                "summary": "Creates a new user.",
                "operationId": "createUser",
                "requestBody": {
                    "description": "Request body for creating a new user on this instance. The `password` field can be omitted if the session backend isn't the local one.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUserPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "403": {
                        "description": "Instance doesn't allow registrations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Session backend required the `password` field or `email` was not a valid, proper email address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "If a user already has the `username` or `email` taken.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me": {
            "get": {
                "tags": ["Users"],
                "summary": "Returns information about yourself via an authenticated request.",
                "operationId": "getSelfUser",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "4XX": {
                        "description": "The occurrence when authentication fails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Users"],
                "summary": "Delete yourself.",
                "operationId": "deleteSelf",
                "responses": {
                    "204": {
                        "description": "User is scheduled for deletion and will be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmptyApiResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Users"],
                "summary": "Patch the authenticated user's metadata.",
                "operationId": "patchSelf",
                "requestBody": {
                    "description": "Payload object for patching user metadata",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchUserPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Patch was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Any occurrence when authentication fails or if the patch couldn't be applied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/apikeys": {
            "get": {
                "tags": ["API Keys"],
                "summary": "Lists all the avaliable API keys this user has.",
                "operationId": "getAllApiKeys",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "path",
                        "description": "Amount of entries per page.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "path",
                        "description": "Ordering of the data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Ordering"
                        }
                    },
                    {
                        "name": "page",
                        "in": "path",
                        "description": "The page to go towards, default is `1`.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListApiKeyResponse"
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["API Keys"],
                "operationId": "createAPIKey",
                "requestBody": {
                    "description": "Request body for creating a new API key",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApiKeyPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/ApiKeyResponse"
                    },
                    "409": {
                        "description": "API key already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/apikeys/{idOrName}": {
            "get": {
                "tags": ["API Keys"],
                "operationId": "getSingleApiKey",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ApiKeyResponse"
                    },
                    "404": {
                        "description": "API key was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["API Keys"],
                "summary": "Deletes an API key.",
                "operationId": "deleteAPIKey",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/EmptyApiResponse"
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["API Keys"],
                "summary": "Patches a API key's metadata.",
                "operationId": "createAPIKey",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body for patching this API key",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchApiKeyPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/EmptyApiResponse"
                    },
                    "409": {
                        "description": "Failed to apply patches",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/avatar": {
            "get": {
                "tags": ["Users/Avatars"],
                "summary": "Returns the authenticated user's current avatar.",
                "operationId": "getSelfUserAvatar",
                "responses": {
                    "200": {
                        "description": "Avatar data as a raw image",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "u-int8",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Avatar by hash was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Users/Avatars"],
                "summary": "Upload an avatar.",
                "operationId": "uploadSelfUserAvatar",
                "requestBody": {
                    "description": "Multipart form of a single field being the avatar data",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "integer",
                                    "format": "u-int8",
                                    "minimum": 0
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/UrlResponse"
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/avatars/{hash}": {
            "get": {
                "tags": ["Users/Avatars"],
                "summary": "Returns the authenticated user's avatar by their hash.",
                "operationId": "getSelfUserAvatarByHash",
                "responses": {
                    "200": {
                        "description": "Avatar data as a raw image",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "u-int8",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Avatar by hash was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/repositories": {
            "get": {
                "tags": ["Repositories"],
                "summary": "Lists all of this user's repositories.",
                "operationId": "listMyRepositories",
                "responses": {}
            },
            "put": {
                "tags": ["Repositories"],
                "summary": "Creates a repository under this user.",
                "operationId": "createRepository",
                "responses": {}
            }
        },
        "/users/{idOrName}": {
            "get": {
                "tags": ["Users"],
                "summary": "Retrieve a single user by their ID or name.",
                "operationId": "getUserByIdOrName",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "400": {
                        "description": "Invalid ID or name specified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/avatar": {
            "get": {
                "tags": ["Users/Avatars"],
                "summary": "Returns the user's current avatar.",
                "operationId": "getCurrentUserAvatar",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Avatar data as a raw image",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "u-int8",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Avatar by hash was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/avatars/{hash}": {
            "get": {
                "tags": ["Users/Avatars"],
                "summary": "Returns the user's avatar by their hash.",
                "operationId": "getUserAvatar",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "The hash that the request will check for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Avatar data as a raw image",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "u-int8",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Avatar by hash was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories": {
            "get": {
                "tags": ["Repositories"],
                "summary": "Lists all the avaliable user repositories.",
                "description": "If the user is logged in with credentials, this will also show their private\nrepositories as well.",
                "operationId": "listRepositories",
                "responses": {}
            }
        },
        "/v1": {
            "get": {
                "tags": ["Main"],
                "summary": "Main entrypoint of the API server.",
                "operationId": "main",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/MainResponse"
                    }
                }
            }
        },
        "/v1/_healthz": {
            "get": {
                "tags": ["Main"],
                "summary": "Healthcheck endpoint to determine if services are OK.",
                "operationId": "healthz",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "text/plain": {}
                        }
                    }
                }
            }
        },
        "/v1/features": {
            "get": {
                "tags": ["Main"],
                "summary": "Returns a list of enabled server features.",
                "operationId": "features",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/FeaturesResponse"
                    }
                }
            }
        },
        "/v1/indexes/{idOrName}": {
            "get": {
                "tags": ["Main"],
                "summary": "Retrieve a chart index from a **User** or **Organization**.",
                "operationId": "getChartIndex",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/yaml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChartIndex"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User or Organization wasn't found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users": {
            "get": {
                "tags": ["Users"],
                "summary": "Entrypoint to the Users API.",
                "operationId": "users",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/EntrypointResponse"
                    }
                }
            },
            "post": {
                "tags": ["Users"],
                "summary": "Creates a new user.",
                "operationId": "createUser",
                "requestBody": {
                    "description": "Request body for creating a new user on this instance. The `password` field can be omitted if the session backend isn't the local one.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUserPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "403": {
                        "description": "Instance doesn't allow registrations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Session backend required the `password` field or `email` was not a valid, proper email address",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "If a user already has the `username` or `email` taken.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me": {
            "get": {
                "tags": ["Users"],
                "summary": "Returns information about yourself via an authenticated request.",
                "operationId": "getSelfUser",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "4XX": {
                        "description": "The occurrence when authentication fails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Users"],
                "summary": "Delete yourself.",
                "operationId": "deleteSelf",
                "responses": {
                    "204": {
                        "description": "User is scheduled for deletion and will be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmptyApiResponse"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["Users"],
                "summary": "Patch the authenticated user's metadata.",
                "operationId": "patchSelf",
                "requestBody": {
                    "description": "Payload object for patching user metadata",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchUserPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Patch was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "description": "Any occurrence when authentication fails or if the patch couldn't be applied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/apikeys": {
            "get": {
                "tags": ["API Keys"],
                "summary": "Lists all the avaliable API keys this user has.",
                "operationId": "getAllApiKeys",
                "parameters": [
                    {
                        "name": "perPage",
                        "in": "path",
                        "description": "Amount of entries per page.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "path",
                        "description": "Ordering of the data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Ordering"
                        }
                    },
                    {
                        "name": "page",
                        "in": "path",
                        "description": "The page to go towards, default is `1`.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ListApiKeyResponse"
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["API Keys"],
                "operationId": "createAPIKey",
                "requestBody": {
                    "description": "Request body for creating a new API key",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApiKeyPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/ApiKeyResponse"
                    },
                    "409": {
                        "description": "API key already exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/apikeys/{idOrName}": {
            "get": {
                "tags": ["API Keys"],
                "operationId": "getSingleApiKey",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ApiKeyResponse"
                    },
                    "404": {
                        "description": "API key was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["API Keys"],
                "summary": "Deletes an API key.",
                "operationId": "deleteAPIKey",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/EmptyApiResponse"
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": ["API Keys"],
                "summary": "Patches a API key's metadata.",
                "operationId": "createAPIKey",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body for patching this API key",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchApiKeyPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/EmptyApiResponse"
                    },
                    "409": {
                        "description": "Failed to apply patches",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/avatar": {
            "get": {
                "tags": ["Users/Avatars"],
                "summary": "Returns the authenticated user's current avatar.",
                "operationId": "getSelfUserAvatar",
                "responses": {
                    "200": {
                        "description": "Avatar data as a raw image",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "u-int8",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Avatar by hash was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Users/Avatars"],
                "summary": "Upload an avatar.",
                "operationId": "uploadSelfUserAvatar",
                "requestBody": {
                    "description": "Multipart form of a single field being the avatar data",
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "integer",
                                    "format": "u-int8",
                                    "minimum": 0
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "$ref": "#/components/responses/UrlResponse"
                    },
                    "5XX": {
                        "description": "Internal Server Failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/avatars/{hash}": {
            "get": {
                "tags": ["Users/Avatars"],
                "summary": "Returns the authenticated user's avatar by their hash.",
                "operationId": "getSelfUserAvatarByHash",
                "responses": {
                    "200": {
                        "description": "Avatar data as a raw image",
                        "content": {
                            "image/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "integer",
                                        "format": "u-int8",
                                        "minimum": 0
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Avatar by hash was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "5XX": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/@me/repositories": {
            "get": {
                "tags": ["Repositories"],
                "summary": "Lists all of this user's repositories.",
                "operationId": "listMyRepositories",
                "responses": {}
            },
            "put": {
                "tags": ["Repositories"],
                "summary": "Creates a repository under this user.",
                "operationId": "createRepository",
                "responses": {}
            }
        },
        "/v1/users/{idOrName}": {
            "get": {
                "tags": ["Users"],
                "summary": "Retrieve a single user by their ID or name.",
                "operationId": "getUserByIdOrName",
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Queries this resource by the entity's ID or name.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrUlid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/UserResponse"
                    },
                    "400": {
                        "description": "Invalid ID or name specified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
                                            "description": "List of errors that happened. This can be represented as a stacktrace"
                                        },
                                        "success": {
                                            "type": "boolean",
                                            "description": "Whether if this request was a success or not (always false)",
                                            "default": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Error"
                                            },
[...]
