{
    "openapi": "3.0.1",
    "info": {
        "title": "charted-server",
        "description": "🐻‍❄️📦 Free, open source, and reliable Helm Chart registry made in Kotlin",
        "termsOfService": "https://charts.noelware.org/legal/tos",
        "contact": {
            "name": "Noelware, LLC.",
            "url": "https://noelware.org",
            "email": "team@noelware.org"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        },
        "version": "v0.1.0-beta"
    },
    "externalDocs": {
        "url": "https://charts.noelware.org/docs/server/0.1.0-beta"
    },
    "servers": [
        {
            "url": "https://charts.noelware.org/api",
            "description": "Official Instance"
        }
    ],
    "paths": {
        "/_openapi": {
            "description": "Endpoint for the OpenAPI specification for charted-server",
            "get": {
                "description": "Gets the document in JSON format or YAML format",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/_openapi"
                },
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Format to use",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pretty",
                        "in": "query",
                        "description": "If the document should be pretty or not, this is only applicable to the JSON format",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/_swagger": {
            "description": "Endpoint for Swagger UI",
            "get": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/_swagger"
                },
                "responses": {
                    "200": {
                        "content": {
                            "text/html": {}
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/users"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkMainUserResponse"
                                },
                                "example": {
                                    "data": {
                                        "message": "Welcome to the Users API!",
                                        "docs_url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/users"
                                    },
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "REST controller to create a new user into this instance. This can fail if the server is invite-only or if registrations are disabled.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PUT-/users"
                },
                "requestBody": {
                    "description": "Payload object to create this user",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUserPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "User resource was successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUser"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If the session manager configured for this server is local, then this will indicate a password was not available",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUser"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "If the server doesn't allow new users to be created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes the current authenticated user. This will destroy all metadata (repositories, organizations), search indexing (if enabled), and all Helm charts that are published.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/DELETE-/users"
                },
                "responses": {
                    "202": {
                        "description": "Session token was deleted from the server, and can't be validated again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "If the session token couldn't be authorized successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or the body was not a proper session token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header was not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases/{version}": {
            "get": {
                "description": "Retrieve a single repository release resource",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/repositories/{id}/releases/{version}"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup the release for",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/VersionConstraint"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseRepositoryRelease"
                                },
                                "example": {
                                    "data": {
                                        "update_text": "# v0.0.1-beta\n* Added new stuff",
                                        "created_at": "2023-04-08T02:37:53.741502369",
                                        "updated_at": "2023-04-08T02:37:53.741502369",
                                        "tag": "0.0.1-beta",
                                        "id": 1234
                                    },
                                    "success": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a repository release, and the tarball if it exists",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/DELETE-/repositories/{id}/releases/{version}"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup the release for",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/VersionConstraint"
                        }
                    }
                ],
                "responses": {}
            },
            "patch": {
                "description": "Patch a repository release's metadata",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PATCH-/repositories/{id}/releases/{version}"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup the release for",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/VersionConstraint"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchRepositoryReleasePayload"
                            },
                            "example": {
                                "update_text": "# Hello, world?\n> Some markdown! :D"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "description": "Generic entrypoint for the Repositories API",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/organizations"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MainOrganizationResponse"
                                },
                                "example": {
                                    "message": "Welcome to the Organizations API!",
                                    "docs": "https://charts.noelware.org/docs/server/0.1.0-beta/api/organizations"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an organization resource with the specified parameters.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PUT-/organizations"
                },
                "requestBody": {
                    "description": "Payload for creating an organization",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOrganizationPayload"
                            },
                            "example": {
                                "display_name": "Noelware, LLC.",
                                "private": false,
                                "name": "noelware"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Returns the created organization resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                },
                                "example": {
                                    "verified_publisher": true,
                                    "display_name": "Noelware, LLC.",
                                    "created_at": "2023-04-08T02:37:53.741502369",
                                    "updated_at": "2023-04-08T02:37:53.741502369",
                                    "private": false,
                                    "owner": {
                                        "verified_publisher": true,
                                        "created_at": "2023-04-08T02:37:53.741502369",
                                        "updated_at": "2023-04-08T02:37:53.741502369",
                                        "username": "noel",
                                        "admin": false,
                                        "name": "Noel",
                                        "id": 1
                                    },
                                    "name": "noelware",
                                    "id": 1234
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases/{version}.tar.gz": {
            "get": {
                "description": "Gets a repository release's tarball, if the version exists",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/repositories/{id}/releases/{version}.tar.gz"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allow_prerelease",
                        "in": "query",
                        "description": "If we are allowed to look-up for pre-releases if the version path parameter is \"latest\"",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If the tar resource wasn't found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Tar resource itself",
                        "content": {
                            "application/tar+gzip": {}
                        }
                    },
                    "400": {
                        "description": "If the version path parameter wasn't a valid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Uploads a tarball that is a valid Helm tarball that was generated from the `helm package` command.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/POST-/repositories/{id}/releases/{version}.tar.gz"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to use as the tarball name",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/VersionConstraint"
                        }
                    }
                ],
                "requestBody": {
                    "description": "multipart/form-data object with a file part being the actual tarball",
                    "content": {
                        "multipart/form-data": {}
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Tarball was stored successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid multipart/form-data object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "NOT_FILE_PART",
                                            "message": "Part was not a file."
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/features": {
            "description": "REST controller to describe all the server features. This is useful to determine if this instance is using the OCI registry or not",
            "get": {
                "description": "Retrieve the instance's enabled features",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/features"
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkFeaturesResponse"
                                },
                                "example": {
                                    "data": {
                                        "docker_registry": false,
                                        "registrations": true,
                                        "audit_logs": false,
                                        "webhooks": false,
                                        "is_invite_only": false,
                                        "integrations": {
                                            "github": false,
                                            "noelware": true
                                        },
                                        "search": false
                                    },
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories/{repoIdOrName}": {
            "get": {
                "description": "Fetch a single repository from a user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/users/{idOrName}/repositories/{repoIdOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Name or Snowflake to query a user",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "repoIdOrName",
                        "in": "path",
                        "description": "Name or Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "if a user or repository couldn't be found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkListRepository"
                                },
                                "example": {
                                    "data": [],
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/readme": {
            "get": {
                "description": "Retrieve a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "README content in Markdown",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "# Some Markdown\n> Hopefully..."
                            }
                        }
                    },
                    "404": {
                        "description": "If a repository wasn't found or if there is no README",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates or updates a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/POST-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "README was updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Creates or updates a repository's README",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/DELETE-/repositories/{id}/readme"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Snowflake to query a repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "README was updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases/{version}/Chart.yaml": {
            "get": {
                "description": "Returns the given Chart.yaml file of this release",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/repositories/{id}/releases/{version}/Chart.yaml"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "Valid SemVer version to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allow_prerelease",
                        "in": "query",
                        "description": "If we are allowed to look-up for pre-releases if the version path parameter is \"latest\"",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If the Chart.yaml file wasn't found for this release",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Chart.yaml file",
                        "content": {
                            "text/yaml": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If the version path parameter wasn't a valid SemVer version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "INVALID_SEMVER",
                                            "message": "Version provided 'v1.noel-is-cute' was not a valid SemVer value"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories/{id}": {
            "patch": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PATCH-/users/{idOrName}/repositories/{id}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/repositories/{id}/releases": {
            "get": {
                "description": "Retrieve all repository releases",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/repositories/{id}/releases"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Repository ID to lookup",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkListRepositoryRelease"
                                },
                                "example": [
                                    {
                                        "update_text": "# v0.0.1-beta\n* Added new stuff",
                                        "created_at": "2023-04-08T02:37:53.741502369",
                                        "updated_at": "2023-04-08T02:37:53.741502369",
                                        "tag": "0.0.1-beta",
                                        "id": 1234
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates a repository release",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PUT-/repositories/{id}/releases"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the repository",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Payload for creating a repository release",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRepositoryReleasePayload"
                            },
                            "example": {
                                "update_text": "# 0.0.1-beta\nSome updates!",
                                "tag": "0.0.1-beta"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Release resource was created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RepositoryRelease"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/logout": {
            "description": "REST controller for revoking session tokens",
            "delete": {
                "description": "Revokes a session token from the server",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/DELETE-/users/@me/logout"
                },
                "responses": {
                    "202": {
                        "description": "Session token was deleted from the server, and can't be validated again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "If the session token couldn't be authorized successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or the body was not a proper session token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header was not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apikeys": {
            "get": {
                "description": "Returns all of the API key resources created by the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/apikeys"
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiKeys"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates an API key under the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PUT-/apikeys"
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApiKeyPayload"
                            },
                            "example": {
                                "description": "API key to automate some stuff!",
                                "scopes": ["apikeys:create", "user:access"],
                                "name": "some-api-key"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "If a session couldn't be found based off the authentication details given, or if a user wasn't found (can happen if a user was deleted)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkApiKeys"
                                },
                                "example": {
                                    "data": {
                                        "description": "API key to automate some stuff!",
                                        "scopes": 536870913,
                                        "owner": {
                                            "verified_publisher": true,
                                            "created_at": "2023-04-08T02:37:53.741502369",
                                            "updated_at": "2023-04-08T02:37:53.741502369",
                                            "username": "noel",
                                            "admin": true,
                                            "name": "Noel",
                                            "id": 1
                                        },
                                        "name": "some-api-key",
                                        "id": 1234
                                    },
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{idOrName}/repositories/{id}": {
            "description": "Allows updating a repository based on its ID.",
            "patch": {
                "description": "Updates an organization's repository based on its ID.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PATCH-/organizations/{idOrName}/repositories/{id}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The [Snowflake] ID of the repository being queried.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/@me": {
            "description": "REST controller to retrieve the current authenticated user's metadata.",
            "get": {
                "description": "REST controller to retrieve the current authenticated user's metadata.",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/users/@me"
                },
                "responses": {
                    "200": {
                        "description": "User resource that was located",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkUser"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "If the session token couldn't be authorized successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or the body was not a proper session token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header was not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/repositories": {
            "get": {
                "description": "Returns all of an user's repositories",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/users/{idOrName}/repositories"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkListRepository"
                                },
                                "example": {
                                    "data": [],
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/{idOrName}/avatars/{hash}": {
            "description": "REST controller for fetching a user's current avatar, with an optional hash identifier",
            "get": {
                "description": "Retrieves and returns a user's current avatar, or with the `hash` path parameter, return it by the specific hash",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/users/{idOrName}/avatars/{hash}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "Hash of the avatar to look-up for a user.",
                        "required": false,
                        "deprecated": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Avatar that was fetched from the storage service",
                        "content": {
                            "image/jpeg": {},
                            "image/svg+xml": {},
                            "image/gif": {},
                            "image/png": {}
                        }
                    },
                    "404": {
                        "description": "If the resource was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/heartbeat": {
            "description": "REST controller to check server availability, useful for Docker healthchecks or Kubernetes liveness, readiness, and startup probes",
            "get": {
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/heartbeat"
                },
                "responses": {
                    "200": {
                        "description": "The server has responded successfully, indicating that it is live",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "Ok."
                            }
                        }
                    }
                }
            }
        },
        "/users/@me/sessions": {
            "description": "REST controller for listing all the sessions by the current authenticated user",
            "get": {
                "description": "Retrieve all the sessions by the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/users/@me/sessions"
                },
                "responses": {
                    "200": {
                        "description": "All the sessions that the API server is managing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkListSession"
                                },
                                "example": {
                                    "data": [],
                                    "success": true
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "If the session token couldn't be authorized successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present, or doesn't have the 'users:sessions:list' API key scope.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header was not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Refresh the session and give a new session in return",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PATCH-/users/@me/sessions"
                },
                "responses": {
                    "200": {
                        "description": "Refreshed session",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkSession"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "If the session token couldn't be authorized successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present, the body was not in the format a Session Token would be in, or if the refresh token was not provided as the token it wants.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header was not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apikeys/{idOrName}": {
            "get": {
                "description": "Returns a single API key resource owned by the current authenticated user",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/apikeys/{idOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "API_KEY_NOT_FOUND",
                                            "message": "API key with name 'noel-is-cute' was not found"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiKeys"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes an API key resource off the current authenticated user's account",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/DELETE-/apikeys/{idOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "API key resource with name or ID was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "API_KEY_NOT_FOUND",
                                            "message": "API key with name 'noel-is-cute' was not found"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "API key resource was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Patches an API key resource",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PATCH-/apikeys/{idOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchApiKeyPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Whether if the `Authorization` header is not present or a REST controller requires the authentication type to be from a Session Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "code": "API_KEY_NOT_FOUND",
                                            "message": "API key with name 'noel-is-cute' was not found"
                                        }
                                    ],
                                    "success": false
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Whether if the `Authorization` header is not in an acceptable format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Err"
                                }
                            }
                        }
                    },
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponseUnit"
                                },
                                "example": {
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{idOrName}": {
            "get": {
                "description": "Retrieve an organization resource by its [NameOrSnowflake].",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/GET-/organizations/{idOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the organization resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                },
                                "example": {
                                    "verified_publisher": true,
                                    "twitter_handle": "@noelware",
                                    "display_name": "🐻‍❄️ Noelware, LLC.",
                                    "created_at": "2023-04-08T02:37:53.741502369",
                                    "updated_at": "2023-04-08T02:37:53.741502369",
                                    "private": false,
                                    "owner": {
                                        "verified_publisher": true,
                                        "created_at": "2023-04-08T02:37:53.741502369",
                                        "updated_at": "2023-04-08T02:37:53.741502369",
                                        "username": "noel",
                                        "admin": true,
                                        "name": "Noel",
                                        "id": 1
                                    },
                                    "name": "noelware",
                                    "id": 2
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Patch an organization's metadata",
                "externalDocs": {
                    "url": "https://charts.noelware.org/docs/server/0.1.0-beta/api/PATCH-/organizations/{idOrName}"
                },
                "parameters": [
                    {
                        "name": "idOrName",
                        "in": "path",
                        "description": "Parameter that can take [Name] or [Snowflake] as a way to identify this resource.",
                        "required": true,
                        "deprecated": false,
                        "schema": {
                            "$ref": "#/components/schemas/NameOrSnowflake"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchOrganizationPayload"
                            },
                            "example": {
                                "display_name": "awau!",
                                "private": true,
                                "name": "heck"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "If the authentication handler couldn't authorize successfully",
                        "content": {
[...]
