# 📦 charted-server: Free, open source, and reliable Helm Chart registry made in Kotlin.
# Copyright 2022 Noelware <team@noelware.org>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Yes, this was written by hand. In the future, I would want to generate this via the ktor-routing library.
openapi: 3.1.0
info:
  title: charted-server
  version: 1.0-beta
  description: "📦 Free, open source, and reliable Helm Chart registry made in Kotlin."
  termsOfService: https://charts.noelware.org/tos
  contact:
    email: team@noelware.org
    name: Noelware Team
    url: https://noelware.org
  license:
    identifier: Apache-2.0
    name: Apache 2.0
servers:
  - url: https://charts.noelware.org/api
    description: Production Server
paths:
  /:
    get:
      description: Basic information about the server.
      responses:
        "200":
          description: Returns a basic JSON payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    description: Indicates if the request was a success or not.
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: "Hello, world! 👋"
                      docs_uri:
                        type: string
                        description: The documentation URI.
                      tagline:
                        type: string
                        description: You know, for Helm Charts?
